<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="location">
      <h2 data-cy="locationDetailsHeading"><span jhiTranslate="balsamTestApp.location.detail.title">Location</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ location.id }}</span>
        </dd>
        <dt><span jhiTranslate="balsamTestApp.location.streetAddressLine1">Street Address Line 1</span></dt>
        <dd>
          <span>{{ location.streetAddressLine1 }}</span>
        </dd>
        <dt><span jhiTranslate="balsamTestApp.location.streetAddressLine2">Street Address Line 2</span></dt>
        <dd>
          <span>{{ location.streetAddressLine2 }}</span>
        </dd>
        <dt><span jhiTranslate="balsamTestApp.location.latitude">Latitude</span></dt>
        <dd>
          <span>{{ location.latitude }}</span>
        </dd>
        <dt><span jhiTranslate="balsamTestApp.location.longitude">Longitude</span></dt>
        <dd>
          <span>{{ location.longitude }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/location', location.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
